.advantage {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantage-list {
  display: flex;
}

.advantage-list-item {
  width: 270px;
}

.advantage-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $primary-text-color;
}

.advantage-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $title-text-color;
}

.advantage-picture {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: $background-text-color;
}

.picture-antenna,
.picture-clock,
.picture-diagram,
.picture-astronaut {
  width: 70px;
  height: 70px;
  margin: auto;
}

.advantage-list-item:not(:last-child) {
  margin-right: 30px;
}
