.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.adress-nav {
  display: flex;
}

.site-link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.adress-link {
  display: flex;
  align-items: center;
  fill: $title-text-color;
}
.site-item:not(:last-child) {
  margin-right: 50px;
}

.adress-item:not(:last-child) {
  margin-right: 30px;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: #000000;
}

.header-nav .logo {
  margin-right: 85px;
}

.logo-first {
  color: $accent-color;
}

.site-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $primary-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: $accent-color;
}

.link.current {
  color: $accent-color;
}

.adress-nav .link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $title-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-link:hover,
.adress-link:focus {
  color: $accent-color;
  fill: $accent-color;
}

.adress-envelope {
  width: 16px;
  height: 11px;
  margin-right: 10px;
}

.adress-smartphone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  background: $accent-color;
  border-radius: 2px;
}
